.top {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  /* background-color: rgba(0,0,0,0.4); */
}
@media screen and (width: 768px) {
  .top {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
}

.heading {
  text-align: start;
}
.reg-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

a,
a:visited {
  color: #fff;
  color: #000;
}

input[type="text"],
input[type="password"],
button,
textarea {
  border-color: #cbcbcb;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}
.textfield,
textarea {
  border-color: #cbcbcb;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}
/* #username,#email,#mobile,#password,#confirm_pwd{
    border-color: #CBCBCB;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 22px;
    padding: 0.25rem;
    border-radius: 0.5rem;
} */
.label {
  display: block;
  margin-top: 0.5rem;
}
.button {
  display: block;
  margin-top: 1rem;
  width: 100%;
  padding: 0.5rem;
  background: linear-gradient(
    90.06deg,
    #fcd963 1%,
    #fcd172 54.43%,
    #fdad72 107.86%
  );
  border: #fdad72;
  padding: 0.25rem;
  border-radius: 0.3rem;
  font-size: 22px;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.2rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}
.input-container {
  position: relative;
  width: 100%;
}

.icon-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px; /* Adjust this value based on your desired position */
}

/* Adjust the styles for the icons as needed */
.icon-container .hide {
  display: none;
}
